.specialists-main{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
    padding: 5% 10%;
}
.team-image{
    max-width: 40%;
}
.title{
    font-size: 3rem;
}
.main-section{
    max-width: 33%;
}
.main-text{
    font-size: 1.5rem;
}
.specialists-button{
    
    background-color: #294416;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
}